@{
    ViewBag.Title = "预付费";
}

<h2 style="text-align:center"> 欢迎使用</h2>
<div style="padding-left:20px ;width:100%">
    <table style="width:100%">
        <tr>
            <td width="50%" style="text-align:right">设备名称：</td>
            <td id="mname"></td>
        </tr>
        <tr>
            <td style="text-align:right">账户金额：</td>
            <td id="charge"></td>
        </tr>
        <tr>
            <td style="text-align:right">扣费：</td>
            <td><input type="number" value="5" id="money" style="width:48px" max="1000" min="1" /> 元</td>
        </tr>
        <tr id="rchargerow" style="visibility:hidden;">
            <td style="text-align:right">余额：</td>
            <td id="rcharge"></td>
        </tr>

        <tr>

            <td colspan="2" style="text-align:center"><span id="content"> </span></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="button" value="确认使用" id="confirm" /></td>
        </tr>
        @*<input type="number" value="5" id="money" style="width:48px" max="1000" min="1" /> 元*@

        </p>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var macname = decodeURI(getUrlVar('mname'));
        var openid = getUrlVar('openid');
        var mid = getUrlVar('mid');
        var rmoney = 0;
        //拼接设备名称
        // $('#macname').html("您正在使用" + macname + "设备，请选择充值金额或");

        //获得余额信息
        $.get('~/../../api/payinfo/getbalance?openid=' + openid, null, function (data) {
            //$('#macname').html("您正在使用 " + macname + "设备，您当前余额为 " + data + " ，请选择充值金额或");
            $('#mname').html(macname);
            $('#charge').html(data + '元');
            rmoney = data;
        });

        //确认支付
        $('#confirm').click(function () {
            $('#confirm').css({ visibility: "hidden" });
            var money = $('#money').val();
            var serviceaddress = '~/../../api/payinfo/ConfirmUse?openid=' + openid + '&macid=' + mid + '&count=' + money;
            // alert(serviceaddress);
            $.get(serviceaddress, null, function (data) {
                if (data) {
                    $('#rchargerow').css({ visibility: "visible" });
                    $('#rcharge').html((rmoney - money) + ' 元');
                    $('#content').html('<p>预付费成功！</p><p>您使用的是' + macname + ',本次付费' + money + '元。<p>');
                }
                else {
                    $('#content').html('<p>预付费失败！<p>');
                }
            });
        });

    });
</script>