@model String
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Jump</title>
    <script type="text/javascript">
        window.document.location.href = '@Model';
    </script>
</head>
<body>
    <div>
        @*@Model*@
    </div>
</body>
</html>
