@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Jump</title>
    <script type="text/javascript">
        var url = "https://open.weixin.qq.com/connect/oauth2/authorize?appid=" +@Model.appid +"+&redirect_uri=" +@Model.url +"&response_type=code&scope=snsapi_base#wechat_redirect";
        $('#123').html('<p>' + url + '</p>')
        window.document.location.href = url;
    </script>
</head>
<body>
    <div id="123">

    </div>
</body>
</html>
