@{
    ViewBag.Title = "上门洗车";
}

<style>
    label {
        /*width:95%;
        text-align: right;*/
    }

    .container {
        padding-bottom: 15px;
        padding-top: 20px;
    }

    button {
        background-color: orange;
        color: #FFF;
    }

    .alert {
        /*font-style :italic;*/
        font-family: 'Microsoft YaHei';
    }

        .alert > p {
            /*padding-left: 5%;*/
            padding-top: 5px;
        }

    .map {
        width: 100%;
        height: 300px;
    }
</style>
<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=9b65d2a0ee90d20ad5b98e7ebb765cb9"></script>

<div class="container">

    <div>
        <p><label>地址</label><span> 拖动地图标注车辆位置</span></p>
        <div class="map" id="map"></div>
    </div>
    @using (Html.BeginForm("Index", "ComeBill", FormMethod.Post, new { role = "form", @class = "form-inline", onsubmit = "getElementById('subBtn').disabled=true;return true;" }))
    {
        <input type="hidden" id="x" name="x" />
        <input type="hidden" id="y" name="y" />
        <input type="hidden" id="village" />
        <div class="form-group">
            <label> 所在小区</label>
            <select id="villageid" class="form-control" name="village"></select>
        </div>

        <div class="form-group">
            <label for="station">位置描述</label>
            <input class="form-control" id="station" name="station" placeholder="如：15号楼门口">
        </div>
        <div class="form-group">
            <label for="carnumber">车牌号</label>
            <input type="text" class="form-control" id="carnumber" name="carnumber" placeholder="可输入车牌号后三位">
        </div>
        <div class="form-group">
            <label for="endtime">服务时间</label>
            <select type="time" class="form-control" id="endtime" name="endtime"></select>
        </div>
        <div class="form-group">
            <label for="phone">联系方式</label>
            <input type="text" class="form-control" id="phone" name="phone" placeholder="请留下您的手机号" value="">
        </div>
        <div class="form-group">
            <label for="phone">车辆描述</label>
            <input type="text" class="form-control" id="desc" name="desc" placeholder="请简单叙述车辆信息，如：黑色 帕萨特" value="">
        </div>
        <div class="form-group">
            <input type="hidden" id="openid" name="openid" value="@Model" />
        </div>

        <div class=" alert alert-warning">
            <strong>提示：</strong>
            <ul style="padding-left:12%;">
                <li> <p>首次使用，请先在“钱包”中“充值”0.01元，即可立享一分钱上门洗车体验。</p></li>
                <li><p>目前只洗5人座以下车辆。</p></li>
                <li><p>快洗外观和内部边框，内饰精洗另收10元。</p></li>
            </ul>
        </div>


        <div style="text-align:center">
            <button id="subBtn" type="submit" class="btn" onclick=" return checkData();" style="margin-top:4%; background-color :orange;color: #FFF; font-family:'Microsoft YaHei'; font-weight:600;width:100%;font-size:1.5em">
                马上预约
            </button>
        </div>
    }

</div>

<script type="text/javascript">
    var stationList = null;
    var time = null;
    var openid = '@Model';
    var isBusy = false;
    var appid = '@ViewBag.appid';
    var timestamp = 1420774989;
    var nonceStr = '2nDgiWM7gCxhL8v0';
    var sign = '';

    var ddd=null;

    function initialize(loa) {
        var position = new AMap.LngLat(loa.x, loa.y);
        var mapObj = new AMap.Map("map", {
            view: new AMap.View2D({//创建地图二维视口
                center: position,//创建中心点坐标
                zoom: 17, //设置地图缩放级别
                rotation: 0 //设置地图旋转角度
            }),
            lang: "zh_cn"//设置地图语言类型，默认：中文简体
        });//创建地图实例
        var marker = new AMap.Marker({
            map: mapObj,
            position: mapObj.getCenter(),
            icon: "~/../../Images/carpoint.png",
            offset: new AMap.Pixel(-10, -34)
        });
        getVillage(mapObj.getCenter());

        var listener = AMap.event.addListener(mapObj, "dragend", function (e) {
            var lnglat = mapObj.getCenter();
            mapObj.clearMap();
            var marker = new AMap.Marker({
                map: mapObj,
                position: lnglat,
                icon: "~/../../Images/carpoint.png",
                offset: new AMap.Pixel(-10, -34)
            });
            mapObj.setCenter(lnglat);
            getVillage(lnglat);
        });
    }

    function getAddressStr(loa) {
        $('#x').val(loa.lng);
        $('#y').val(loa.lat);

        //加载地理编码插件
        var geocoder;
        AMap.service(["AMap.Geocoder"], function () {
            geocoder = new AMap.Geocoder({
                radius: 1000,
                extensions: "all"
            });
            //逆地理编码
            geocoder.getAddress(loa, function (status, result) {
                //取回逆地理编码结果
                if (status === 'complete' && result.info === 'OK') {
                    alert(result.regeocode.formattedAddress);
                    $('#address').html(result.regeocode.formattedAddress);
                }
                else {
                    $('#address').html('地址获取失败。。。');

                }
            });
        })
    }

    //获取可选择小区
    function getVillage(loa) {
        $('#x').val(loa.lng);
        $('#y').val(loa.lat);

        $.get('~/../../api/ComeHelp/GetVillageList?x=' + loa.lng + '&y=' + loa.lat, null, function (data) {
            $('#villageid').html('');
            data.forEach(function (item) {
                $('#villageid').append(' <option value=' + item.NeighborhoodId + '>' + item.Name + '</option>')
            });
            getFreeHour($('#villageid').val());
        });
    }

    //获取接单时间
    function getFreeHour(villageid) {
        $('#endtime').html('');
        if(villageid ==name){
            return false;
        }
        $.get('~/../../api/ComeHelp/GetFreeHour?villageId=' + villageid, null, function (data) {
            var sh = 0;
            if (data[0] != -1) {
                sh = data[0];
            }
            var eh = 24;
            if (data[1] != -1) {
                eh = data[1];
            }
            if (sh >= eh) {
                eh = eh + 24;
            }


            var date = new Date();
            var min = date.getMinutes() + 30;
            var hour = date.getHours() + 1;
            for (i = 0; i < 24; i++) {
                if (i + hour < sh) {
                    continue;
                }
                else if (i + hour > eh - 1) {
                    break;
                }
                var nhour = hour + i;
                var nhourStr = '';
                if (nhour > 24) {
                    //nhour -= 24;
                    nhourStr = '明天';
                    nhourStr += (nhour - 24).toString();
                }
                else {
                    nhourStr += (nhour).toString();;
                }

                var nnhour = new Number;
                nnhour = nhour + 1;
                var nnhourStr = nnhour.toString();
                if (nnhour > 24) {
                    nnhour -= 24;
                    nnhourStr = '明天' + nnhour;
                }

                $('#endtime').append(' <option >' + nhourStr + ':00 -' + nnhourStr + ':00' + '</li>')
            }

        })
    }


    //function getStation() {
    //    var url = '~/../../api/ComeHelp/GetStationList';
    //    $.get(url, function (data) {
    //        station = data;
    //        $.each(data, function (index, value) {
    //            $('#station').append(' <option value=' + value.NeighborhoodId + '>' + value.Name + '</li>')
    //        })
    //    })
    //}
    function getStartDate() {
        var date = new Date();
        var min = date.getMinutes() + 30;
        var hour = date.getHours() + 1;
        for (i = 0; i < 24; i++) {

            var nhour = hour + i;
            var nhourStr = '';
            if (nhour > 24) {
                //nhour -= 24;
                nhourStr = '明天';
                nhourStr += (nhour - 24).toString();
            }
            else {
                nhourStr += (nhour).toString();;
            }

            var nnhour = new Number;
            nnhour = nhour + 1;
            var nnhourStr = nnhour.toString();
            if (nnhour > 24) {
                nnhour -= 24;
                nnhourStr = '明天' + nnhour;
            }

            $('#endtime').append(' <option >' + nhourStr + ':00 -' + nnhourStr + ':00' + '</li>')
        }
    }


    function getInfo() {
        var url = '~/../../api/ComeHelp/GetUserInfo?openid=' + openid;

        $.get(url, null, function (data) {
            // alert(data);
            $('#phone').val(data.phone);
            $('#station').val(data.sid);
            $('#carnumber').val(data.car);
            $('#desc').val(data.describe);
        });

    }

    function getLocation() {
        //TODO： 通过微信api获取用户位置！
        //116.39946, 39.907629
        wx.getLocation({
            type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
            success: function (res) {
                //var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
                //var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
                //var speed = res.speed; // 速度，以米/每秒计
                //var accuracy = res.accuracy; // 位置精度
                ddd =res;
                initialize({ x: res.longitude, y: res.latitude});
            }
        });

        //initialize({ x: 121.527744, y: 31.301753 });
    }

    function checkData(){
        if($('#village').val() == null || $('#village').val().length<1){
            alert('请先选择车辆所在小区。');
            return false;
        }
    }

    wx.ready(function(){
        //获取当前地址并加载地图
        getLocation();
    });

    $(document).ready(function () {
        var signdata = {
            'str': nonceStr,
            'time': timestamp,
        };
        $.post('~/../../api/ComeHelp/GetJsSign?str=' + nonceStr + '&time=' + timestamp, { '': window.location.href }, function (data) {
            //alert(data);
            sign = data;
            wx.config({
                debug: @ViewBag.isJsDebug,
                appId: appid,
                timestamp: timestamp,
                nonceStr: nonceStr,
                signature: sign,
                jsApiList: ['getLocation',]
            });

        }, 'json');

        //选择小区更改事件
        $('#villageid').change(function () {
            $('#village').val($('#villageid').val());
            // alert($('#villageid').val());
            getFreeHour($('#villageid').val());
        });


        // getStation();
        //alert(openid);
        //  getStartDate();
        getInfo();
    });

</script>
